*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# intellij files
*.idea
*.iml
bscmail.properties
bscmail.xml
module_bscmail.xml

# NetBeans files
nbproject/private/*

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Emacs backup files
*~

# Build, distribution, and lib directories
build/*
dist/*
lib/*

# Local data files removed from source control
emailServerProperties.xml
emailTemplate.xml
eventProperties.xml
roles.xml
shifts.xml
volunteers.xml
